{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>{{ person }}</div>
<div>{{ person.role }}</div>
</body>
<div id="dashboard">
    <div id="chart_div"></div>
    <div id="control_div"></div>
<p><span id='dbgchart'></span></p>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src='{% static 'attendance_history/js/main.js' %}'></script>
<script>
    MainFunction({{ attendance_list }})
</script>
</html>
